*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#ffd6e7;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
padding:20px;
}

.card,
#welcomePage{

width:100%;
max-width:350px;

background:white;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,.15);
}

h2{
color:#ff4f8b;
margin-bottom:15px;
}

h1{
color:#ff4f8b;
margin-bottom:15px;
}

p{
margin-bottom:20px;
line-height:1.5;
}

input{
width:100%;
padding:12px;
border-radius:10px;
border:2px solid #ffb1ca;
margin-top:10px;
}

button{

padding:12px 20px;

border:none;

border-radius:10px;

background:#ff4f8b;

color:white;

font-size:16px;

cursor:pointer;
}

.hidden{
display:none;
}
